// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'variables/colors';

body {
	font-family: 'Merriweather', 'Lucidia Grande', serif;
	color: $off-black;  
	background-color: $off-white; 
}
a {
	color: $off-black; 
}

a:hover {
	color: $plum;
	text-decoration: none;  
}
.navbar-default .navbar-brand {
    color: $plum;
}
.purple {
	color: $plum; 
}
@import 'articles/article';
@import 'articles/tag'; 
